<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>出院小结</title>

    <link rel="icon" type="image/png" th:href="@{/static/assert/imgs/favicon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/assert/font/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link type="text/css" th:href="@{/static/css/main.d0de7c18a04044d394db.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/static/assert/js/md5.js}"></script>
    <script type="text/javascript" th:src="@{/static/assert/font/font-iconfont/iconfont.js}"></script>
    <script type="text/javascript" th:inline="javascript">

        window.getSession = (
            function(){
                var session = {
                    getPath:[[@{/}]],
                    getUser:[[${session}]].user

                };

                return function(key){


                    return session[key]
                }
            }
        )();
    </script>

</head>
<body >

<div id="app" class="page"></div>
<div id="modal_root"></div>


<script type="text/javascript" th:src="@{/static/manifest.js}"></script>
<script type="text/javascript" th:src="@{/static/js/vendor.chunk.js}"></script>
<script type="text/javascript" th:src="@{/static/js/main.chunk.js}"></script>

</body>
</html>